body {
  background: rgb(20, 20, 20);
  font-family: sans-serif;
  color: white
}

.header_logo
	{
	object-fit: table;
	display: table;
	width: 100px;
	height:100px;
	position: relative;
	border-image-repeat: no-repeat;
	background-size: 100% 100%;
	background: url(https://raw.githubusercontent.com/aboveaveragesoft/art-assets/master/logo/vector/Logo-noborder.svg);
		
	}

a {
	color:mediumseagreen;
	text-decoration: none;
}
