#root {
  --primary-colour: #00d4aa;
  --secondary-colour: #ff2535;
  --background-colour: #333333;
  --discord-colour: #7289DA;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 70s linear;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-colour); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.App-link {
  color: var(--primary-colour);
}

button {
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  background-color: var(--primary-colour);
  transition: all .5s ease;
  padding: 15px;
  border-radius: 8px;
}

.buttongroup {
  display: flex;
}

.discordbutton:hover {
  background-color: var(--discord-colour);
  color: white;
}

button:hover {
  background-color: var(--secondary-colour);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
